@import url(nav.css);
@import url(drivertemplate.css);

body {
    background-color: #0c0c3a
}
.text button {
    width: 100%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
    
}


.text button:hover {
    background-color: #27ae60;
}